* {box-sizing: border-box;}
    img {max-width: 100%; display: block;}
    body {
        margin: 0;
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #222;
        text-align: left;
        background-color: #fff;
    }
    a:link, a:visited {
      text-decoration: none;
      color: #f08c00;
    }
    
    h2 {
      background-color: #f08c00;
      color: #fff;
      text-align: center;
      margin: 0;
      padding: 10px;
      font-size: 0.8rem;
    }

/*add class css*/
.grid-stack .grid-stack {
    /*margin: 0 -10px;*/
    background: rgba(255, 255, 255, 0.3);
  }
.grid-stack .grid-stack .grid-stack-item-content {
    background: lightpink;
}
.cta {
    margin-top: auto;
    border-top: 1px solid #ffe066;
    padding: 10px;
    text-align: center;
}
header {
    background-color: #f08c00;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 15px;
}
footer {
    background-color: #f08c00;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
main {
    margin: 15px 0;
}
.grid-stack-item-content {
    border: 1px solid #ffe066;
    border-radius: 5px;
    display: block;
    overflow: hidden;
}
.grid-stack .grid-stack .grid-stack-item-content {
    background-color: #cccccc;
    border: none;
    border-radius: 0;
}

.grid-stack-item-content {
    background-color: white;
}
main .block-main {
    
    
}
main .block-sidebar {
    width: 50px;
}
main .block-sub-main {
    width: 300px;
}

